extends layout

block content
  .container 
    #ticket.ticket
      img(src="/images/ticket.jpg")
    .row
      p
        button.btn.btn-primary.btn-lg(href='/voting/result')
          span.glyphicon.glyphicon-print

    // jQuery
    //script(src='/javascripts/html2canvas.js')

